<%- include('header') %>

<div class="container">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <% posts.forEach(function (post) { %>
        <%- include('components/post-content', { post: post }) %>
        <% }) %>
        <!-- Pager -->
        <div id="post-pager" data-total="<%= totalpage %>" data-page="<%= page %>" data-keyword="<%= keyword %>" data-tags="<%= tags %>" data-author="<%= author %>">
            <ul class="pagination">

            </ul>
        </div>
    </div>
</div>
<hr>

<script src="/src/component/pageControl.js"></script>

<%- include('footer') %>