<%- include('header') %>

<div class="container">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <% posts.forEach(function (post) { %>
        <%- include('components/post-content', { post: post }) %>
        <% }) %>
        <!-- Pager -->
        <div id="post-pager" data-total="<%= totalpage %>" data-page="<%= page %>" data-keyword="<%= keyword %>" data-tags="<%= tags %>" data-author="<%= author %>">
            <ul class="pagination">

            </ul>
        </div>
    </div>
</div>
<hr>

<script>
    $(function () {
        var pageNav=$("#post-pager");
        var total=pageNav.data("total");
        var page=pageNav.data("page");
        var keyword=pageNav.data("keyword");
        var author=pageNav.data("author");
        var tags=pageNav.data("tags");
        $("#post-pager").createPage({
            totalPage: total,
            currPage: page,
            backFn: function (p) {
                var url="/posts?page="+p;
                if(keyword.toString().length>0){
                    url+="&keyword="+keyword;
                }else if(author.toString().length>0){
                    url+="&author="+author;
                }else if(tags.toString().length>0){
                    url+="&tags="+tags;
                }
                window.location.href=url;
            }
        });
    })
</script>

<%- include('footer') %>