<%- include('header') %>

<div id="tagscloud">
    <% tags.forEach(function (tag) { %>
        <a href="/posts?tags=<%=tag%>" class="tagc<%=Math.ceil(Math.random()*3)%>"><%=tag%></a>
    <% }) %>
</div>

<script src="/lib/tagscloud.js"></script>
<%- include('footer') %>